<ion-header>

  <ion-navbar>
    <ion-title>single-player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="content-header">
  </div>

  <div id="content">
    <!--    <div *ngFor="let row of boardRows" class="grid-row">
          <div *ngFor="let col of boardCols"
               (click)="goPlay(board_ids[])"
               [id]="getCellId(cell_index)">
          </div>
        </div>-->
    <div *ngFor="let row of boardRows" class="grid-row">
      <div *ngFor="let col of boardCols"
           (click)="goPlay(getCellIndex(row, col))"
           [id]="getCellId(row, col)">
      </div>
    </div>
  </div>

  <div id="content-footer">
    <button ion-button block (click)="goBack()">Cancel</button>
  </div>

</ion-content>
