page-home {

  div {
    //border: 1px solid #5d30ff; /* Синяя рамка */
  }

  div #content-header {
    height: 20%;
  }

  div #content {
    height: 60%;
  }

  div #content-footer {
    height: 20%;
  }

  /* ion-col div {
     text-align: center;
   }*/

  div #content > div {
    height: 33.5%;
  }

  div #status_game > p {
    font-size: 80%;
  }

  .grid-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .grid-row div {
    display: table-cell;
    //background: red;
    //border: 1px solid black;
  }

  .border-top {
    border-top: 2px ridge #4d4d4d;
  }

  .border-bottom {
    border-bottom: 2px ridge #4d4d4d;
  }

  .border-right {
    border-right: 2px ridge #4d4d4d;
  }

  .border-left {
    border-left: 2px ridge #4d4d4d;
  }

  .cell-background1 {
    background-color: rgba(126, 123, 255, 0.7);
  }

  .cell-background2 {
    background-color: rgba(243, 120, 131, 0.7);
  }

  .scoreboard {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .shadow {
    box-shadow: inset 0 0 0 3px mediumslateblue;
  }
}
