<!--<ion-header>

  <ion-navbar>
    <ion-title>Одиночная игра</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

  <div id="content-header">
    <div style="height: 35%;"></div>
    <div style="height: 35%;"></div>
    <div style="height: 30%; text-align: center;">
      <p>Начните играть!</p>
    </div>
  </div>

  <div id="content">
    <div *ngFor="let row of boardRows" class="grid-row">
      <div *ngFor="let col of boardCols"
           (click)="goPlay(getCellIndex(row, col))"
           [id]="getCellId(row, col)">
      </div>
    </div>
  </div>

  <div id="content-footer">
    <button ion-button block (click)="initialGameBoard()">Начать заного</button>
  </div>

</ion-content>
