<!--<ion-header>

  <ion-navbar>
    <ion-title>Одиночная игра</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

  <div id="content-header" style="background-color: #eeeeee">
    <div style="height: 34%;"></div>
    <div style="height: 34%;">
      <div style="height: 100%; width: 100%; display: table;">
        <div style="display: table-row;">
          <div class="col-1 scoreboard-outside"></div>
          <div class="col-4 scoreboard" id="gamerX">
            X
          </div>
          <div class="col-2 scoreboard-outside"></div>
          <div class="col-4 scoreboard" id="gamerO">
            O
          </div>
          <div class="col-1 scoreboard-outside"></div>
        </div>
      </div>
    </div>
    <div style="height: 32%; text-align: center;" id="status_game">
      <p>Начни игру!</p>
    </div>
  </div>

  <div id="content" style="background-color: #dedede">
    <div *ngFor="let row of boardRows" class="grid-row">
      <div *ngFor="let col of boardCols"
           (click)="goPlay(getCellIndex(row, col))"
           [id]="getCellId(row, col)"
           [ngClass]="getCellClass(row, col)">
      </div>
    </div>
  </div>

  <div id="content-footer" style="padding: 10% 0; background-color: #eeeeee">
      <button ion-button block (click)="initialGameBoard()">Начать заново</button>
  </div>

</ion-content>
